.mapHexContainer {
position: relative;  
}

.mapHex {
    
    
    position: absolute;

    }
.mapHex:hover {
    filter: brightness(1.1);
};
.mapHex:active {
    filter: brightness(0.9);
}

.building {
    pointer-events: none;
}

.unit {
    pointer-events: none;
}

.moneyContainer {
    border: 2px solid black;
    width: 350px;
    display: flex;
    margin-top: 20px;
    background-color: rgb(190, 209, 209);
    position: absolute;
    bottom: 10px;
    left: 18%;
    overflow-y: hidden;
    justify-content: center;
    white-space: nowrap;

};



.storeContainer {
   position: fixed ;      
    right: 20px;          
    bottom: 50%;             
     transform: translateY(-50%); 
     display: flex;
    flex-direction: column;  
    gap: 10px;    
}

.storeContainer2 {
margin-top: 20px;
}

.price {
    display: flex;
    position: relative;
     font-size: 16px;
    width: 250px;
     left: 60%;
     bottom: 10px;
     
    
}

.storeUnit {
    display: flex;
    width: 60px;        
    cursor: pointer;
    left: 60%;
    bottom: 10px;
    position: relative;

    border: solid 2px;
    border-color: black;
    
};







