.mapHexContainer {
position: relative;  
}

.mapHex {
    
    
    position: absolute;

    }
.mapHex:hover {
    filter: brightness(1.1);
};
.mapHex:active {
    filter: brightness(0.9);
}

.building {
    pointer-events: none;
}

.unit {
    pointer-events: none;
}

.moneyContainer {
    border: 5px solid black;
    width: 50px;
    display: flex;
    margin-top: 20px;
    background-color: aqua;
    position: absolute;
    bottom: 10px;
    background-image: url("https://tinkr.tech//sdb_apps/antiyoy/images/coin.svg");
    background-size: 50%
};

.storeContainer {
   position: fixed ;      
    right: 20px;          
    bottom: 50%;             
     transform: translateY(-50%); 
     display: flex;
    flex-direction: column;  
    gap: 10px;    
}

.storeContainer2 {
margin-top: 20px;
}

.storeUnit {
    display: flex;
    width: 60px;        
    cursor: pointer;
    left: 60%;
    bottom: 10px;
    position: relative;

    border: solid 2px;
    border-color: black;
    
};



